@charset "UTF-8";
/* base */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family:sans-serif,"\5FAE\8F6F\96C5\9ED1",arial;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

div, p, dl, dt, dd {
  margin: 0;
  padding: 0;
}

li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

pre,
code,
address,
caption,
th,
figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}

fieldset,
iframe,
img {
  border: 0;
}

caption,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
main,
section,
summary,
details,
hgroup,
figure,
figcaption {
  display: block;
}

audio,
canvas,
video,
progress {
  display: inline-block;
  vertical-align: baseline;
}

button {
  background: none;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}

button:disabled {
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

img {
  border: 0;
}

:focus {
  outline: none;
}

[hidden] {
  display: none;
}

.nobr {
  white-space: nowrap;
}

i,
em,
code {
  font-style: normal;
}

b,
strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

input:focus,
select:focus,
textarea:focus,
button:focus, button:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
}

.clearfix {
  zoom: 1;
}

@media print {
  body,
  #main,
  #content {
    color: #000;
  }

  a,
  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }
}

/** font style **/
.font-bold {
  font-weight: bold;
}

.font-color-red {
  color: #d1434a;
}

.font-color-orange {
  color: #ee7a23;
}

.font-color-gray {
  color: #605F5F;
}

.font-color-blue {
  color: #2bc4e2;
}

.font-color-white {
  color: #fff;
}

.font-color-black {
  color: #333;
}

.font-underline {
  text-decoration: underline;
}

.font-link:hover {
  opacity: .7;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-48 {
  font-size: 48px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-5x {
  font-size: .5em;
}

.font-size-8x {
  font-size: .8em;
}

.font-size-12x {
  font-size: 1.2em;
}

.font-size-15x {
  font-size: 1.5em;
}

.font-size-20x {
  font-size: 2em;
}

.font-size-25x {
  font-size: 2.5em;
}

.font-size-30x {
  font-size: 3em;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-normal {
  text-transform: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media only screen and (max-width: 991px) {
  .font-size-12 {
    font-size: 1.2rem;
  }

  .font-size-16, .font-size-18 {
    font-size: 1.4rem;
  }

  .font-size-20, .font-size-24 {
    font-size: 1.6rem;
  }

  .font-size-32 {
    font-size: 1.8rem;
  }

  .font-size-36 {
    font-size: 2rem;
  }

  .font-size-48 {
    font-size: 2.4rem;
  }

  .font-size-48 {
    font-size: 3rem;
  }
}
html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  color: #605F5F;
  font-family: "akkurat", sans-serif;
  background: #f5f7fc;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
}

.hidden, hide {
  display: none;
}

a {
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

a:hover {
  color: #d1434a;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

/** the page max width **/
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav-breadcrumb-wrap {
  background: #f0f0f0;
}


/** 面包屑 **/
.nav-breadcrumb {
  padding: 10px 0;
  line-height: 25px;
  font-size: 14px;
}

.nav-breadcrumb a {
  position: relative;
  margin-right: 16px;
  color: #999;
}

.nav-breadcrumb a:after {
  position: absolute;
  top: 3px;
  right: -12px;
  content: "/";
  line-height: 1.2;
}

.nav-breadcrumb a:hover {
  color: #d1434a;
}

.nav-breadcrumb span {
  color: #d1434a;
}

/** 普通页面标题 **/
.page-title-normal {
  font-family: "moderat", sans-serif;
  color: #333;
}

.page-title-normal h2 {
  padding: 40px 0 20px 0;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-weight: bold;
}

.section-title-normal {
  padding-bottom: 10px;
  font-size: 20px;
}

.view-more-normal {
  position: relative;
  width: 100px;
  height: 50px;
  margin: 0 auto 20px auto;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .page-title-normal h2 {
    padding: 30px 0 20px 0;
    font-size: 18px;
  }

  .no-data {
    font-size: 16px;
  }

  .loading {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 12.5px;
  }

  .container {
    padding: 0;
  }

  .nav-breadcrumb {
    display: none;
  }

  .page-title-normal {
    text-align: center;
  }

  .page-title-normal h2 {
    padding: 1.3rem 0;
    font-size: 1.4rem;
    border-bottom: 1px solid #e9e9e9;
  }

  .section-title-normal {
    padding: 10px 10px 5px 10px;
    font-size: 1.2rem;
    border-bottom: 1px solid #e9e9e9;
  }

  .view-more-normal {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    font-size: 10px;
  }

}

@media only screen and (max-width: 640px) {
  html {
    font-size: 11.6667px;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 10.8333px;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}

.btn.btn--dis, .btn[href].btn--dis {
  border-color: #ccc;
  background: transparent;
  color: #ccc;
  cursor: default;
}

.btn.btn--dis:hover {
  border-color: #ccc !important;
  background: transparent !important;
  color: #ccc !important;
}

.btn--red.btn--dis, .btn--red[href].btn--dis {
  border-color: #ccc;
  background-color: #ccc;
  color: #fff;
  cursor: default;
}

.btn--red.btn--dis:hover {
  border-color: #ccc !important;
  background: #ccc !important;
  color: #fff !important;
}

.btn {
  height: 55px;
  line-height: 54px;
  padding: 0 10px;
}

.btn, .btn[href] {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-family: "moderat", sans-serif;
  font-weight: bold;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border: 1px solid #d1434a;
  color: #d1434a;
  text-transform: uppercase;
  letter-spacing: .25em;
  white-space: nowrap;
}

.btn:hover, .btn[href]:hover {
  background-color: #ffe5e6;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.btn--red, .btn--red[href] {
  background-color: #d1434a;
  border-color: #d1434a;
  color: #fff;
}

.btn--red:hover, .btn--red[href]:hover {
  background-color: #f16f75;
  border-color: #f16f75;
  color: #fff;
}

.btn--m {
  height: 40px;
  line-height: 40px;
}

.btn--s {
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  letter-spacing: .1em;
}

.btn-line2 {
  white-space: normal;
  line-height: 1em;
  vertical-align: top;
}

.up-down-btn {
  color: #ee7a23;
}

.i-up-down {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 6px;
  vertical-align: middle;
  z-index: 2;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.i-up-down i {
  position: absolute;
  top: 0;
  width: 8px;
  height: 1px;
  background: #ee7a23;
}

.i-up-down .i-up-down-l {
  left: 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.i-up-down .i-up-down-r {
  right: 0;
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.select-self {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.select-self-area {
  width: auto;
  background: #f0f0f0;
  border-radius: 3px;
  min-width: 50px;
  max-width: 240px;
  height: 30px;
  line-height: 30px;
}

.select-self-area .select-ipt {
  display: block;
  min-width: 56px;
  height: 100%;
  padding: 0 25px 0 10px;
  border: 0;
  color: #605F5F;
  text-align: left;
  font-size: 16px;
  overflow: hidden;
}

.select-self-area .select-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}

.select-self-area .select-btn .i-up-down {
  width: 8px;
  top: 0;
  left: 0;
}

.select-self-area .select-btn .i-up-down i {
  width: 5px;
  height: 2px;
  background-color: #605F5F;
}

.select-self-open {
  border-radius: 3px 3px 0 0;
}

.select-self-open .select-options {
  display: block;
}

.select-self-open .i-up-down .i-up-down-l {
  left: 0;
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.select-self-open .i-up-down .i-up-down-r {
  right: 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.select-self-open .select-options {
  z-index: 102;
}

.select-self-open.select-up .select-options {
  top: auto;
  bottom: 30px;
}

.up-down-btn.open {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.up-down-btn.open .i-up-down-l {
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.up-down-btn.open .i-up-down-r {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

input[type="text"], input[type="number"], input[type="password"], textarea {
  padding: 1em;
  border: 1px solid #ccc;
  background: #fff;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

.checkbox-btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-btn .icon-ok {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  fill: #fff;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  vertical-align: top;
}

.checkbox-btn.checked {
  background-color: #ee7a23;
  border-color: #ee7a23;
}

.checkbox-btn.checked .icon-ok {
  display: inline-block;
}

.checkbox-btn.orange.checked {
  background-color: #ee7a23;
  border-color: #ee7a23;
}

/** header and footer **/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


.header {
  width:100%;
  background-color:#fff;
  font-family:moderat,sans-serif;
  font-size:16px
}

.navbar{
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -ms-flex-line-pack:center;
  align-content:center;
  width:100%;
  height:70px;
  max-width:1280px;
  margin:0 auto;
  padding:5px 20px 10px
}
.navbar,.navbar-left-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}

.navbar-left-container {
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:flex-start;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  margin-left:-20px
}
.footer a,.header a {
  color:#666;
  text-decoration:none
}

a {
  transition:color .3s ease-out
}

.navbar-right-container {
  display:none;
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:flex-start
}
.navbar-menu-container,.navbar-right-container {
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center
}
.navbar-menu-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:end;
  -ms-flex-pack:end;
  justify-content:flex-end;
  padding-top:10px
}
.navbar-link {
  padding-left:15px
}
.navbar-cart-container {
  position:relative
}
.navbar-cart-count {
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  position:absolute;
  top:-9px;
  right:-11px;
  width:20px;
  border-radius:10px;
  color:#fff;
  background-color:#eb767d;
  font-size:16px;
  font-weight:700;
  text-align:center
}
.navbar-cart-logo {
  width:25px;
  height:25px;
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1)
}

.footer {
  background-color: #f5f7fc;
  color: #333;
  position: relative;
}

.footer__wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.footer__primary .footer__inner {
  height: 104px;
}

.footer__secondary {
  border-top: 1px solid rgba(51, 51, 51, 0.15);
}

.footer__secondary .footer__inner {
  height: 100px;
}

.footer__inner {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.footer__region {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 36px;
}

.footer__region span {
  color: #ada9a5;
}

.footer__secondary__nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 36px;
}

.footer__secondary__nav a,
.footer__secondary__nav span {
  color: #ada9a5;
  margin-left: 3.3125em;
}

.footer__secondary__nav a:first-child,
.footer__secondary__nav span:first-child {
  margin-left: 0;
}

.footer__region__flag {
  display: inline-block;
  position: relative;
  top: 7px;
  width: 38px;
}

@media screen and (max-width: 1440px) {
  .footer__nav a {
    margin-left: 2em;
  }

  .footer__secondary__nav a,
  .footer__secondary__nav span {
    margin-left: 1.5em;
  }
}

@media screen and (max-width: 991px) {
  .footer__nav a {
    font-size: 12px;
  }

  .footer__secondary__nav a,
  .footer__secondary__nav span {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .footer__primary .footer__inner {
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
    text-align: center;
  }

  .footer__secondary .footer__inner {
    padding: 15px 0 20px;
    height: auto;
    text-align: center;
  }

  .footer__logo {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: 42.73px;
    width: 164px;
    display: inline-block;
  }

  .footer__nav {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    display: block;
    margin-top: 70px;
  }

  .footer__nav a {
    margin-top: 23px;
    margin-left: 0;
    display: block;
  }

  .footer__nav a:first-of-type {
    margin-top: 0;
  }

  .footer__region {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .footer__secondary__nav {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-top: 50px;
  }

  .footer__secondary__nav span,
  .footer__secondary__nav a {
    display: block;
    margin-left: 0;
  }

  .footer__secondary__nav a {
    margin-top: 1.6363636364em;
  }
}

/** header and footer end **/
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 535px;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 201;
}

.md-modal.md-modal-m {
  width: 620px;
}

.md-modal .md-close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 34px;
  height: 34px;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  text-indent: -8000px;
}

.md-modal .md-close:before, .md-modal .md-close:after {
  position: absolute;
  top: 16px;
  left: -4px;
  content: "";
  width: 44px;
  height: 3px;
  background: #d7d8dd;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.md-modal .md-close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.md-modal .md-close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.md-modal .md-close:hover:before, .md-modal .md-close:hover:after {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.md-modal .md-close:hover:before {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.md-modal .md-close:hover:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.md-modal .md-tit {
  font-weight: 200;
  line-height: 1.8em;
  text-align: center;
}

.md-modal .md-modal-inner {
  padding: 60px 50px;
}

.md-modal .btn-wrap {
  margin-top: 20px;
  text-align: center;
  font-size: 0;
}

.md-modal .btn-wrap .btn {
  width: 45%;
  min-width: 80px;
  margin: 0 2.5%;
}

.md-modal .confirm-tips, .md-modal .alert-tips {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.md-modal .confirm-tips p, .md-modal .alert-tips p {
  line-height: 1.8em;
}

.md-modal .confirm-tips {
  min-height: 5.65em;
}

.md-modal .alert-tips {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10.25em;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.md-modal .alert-tips p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.md-modal.modal-normal .content-tit {
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 16px;
  color: #333;
}

.md-modal .icon-status-ok {
  width: 20px;
  height: 20px;
  fill: #ee7a23;
  vertical-align: middle;
  margin-right: 15px;
}

.md-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.md-modal-transition .md-modal-inner {
  background: #fff;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.md-modal-transition.md-show {
  visibility: visible;
}

.md-modal-transition.md-show .md-modal-inner {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

@media only screen and (max-width: 767px) {
  .md-modal {
    width: 300px !important;
  }

  .md-modal.md-modal-fun .md-content {
    padding-top: 30px;
  }

  .md-modal .md-close {
    display: none;
  }

  .md-modal .md-tit {
    padding: 0 15px;
  }

  .md-modal .md-modal-inner {
    padding: 0 !important;
  }

  .md-modal .confirm-tips, .md-modal .alert-tips {
    padding: 30px 10px;
  }

  .md-modal .confirm-tips {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 90px;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .md-modal .confirm-tips p {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .md-modal .btn-wrap {
    display: -ms-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }

  .md-modal .btn-wrap .btn {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    margin: 0;
    font-size: 12px;
  }

  .md-modal .btn-wrap .btn:first-child {
    border-left: none;
    border-right: none;
  }

  .md-modal.modal-normal .content-tit {
    font-size: 12px;
  }
}
