<template>
  <div>
    <v-header></v-header>
    <v-bread>
      <span>Goods</span>
    </v-bread>
    <div class="accessory-result-page accessory-page">
      <div class="container">
        <div class="filter-nav">
          <span class="sortby">Sort by:</span>
          <a href="javascript:void(0)" class="default cur">Default</a>
          <a href="javascript:void(0)" class="price" :class="{'sort-up':sortFlag}" @click="sortGoods()">Price
            <svg class="icon icon-arrow-short">
              <use xlink:href="#icon-arrow-short"></use>
            </svg>
          </a>
          <a href="javascript:void(0)" class="filterby stopPop" @click.stop="showFilterPOP()">Filter by</a>
        </div>
        <div class="accessory-result">
          <!-- filter -->
          <div class="filter stopPop" id="filter" :class="{'filter-class':filterBy}">
            <dl class="filter-price">
              <dt>Price:</dt>
              <dd><a href="javascript:void(0)" @click="setPriceFilter('all')"
                     :class="{'cur':priceCheck==='all'}">All</a></dd>
              <dd v-for="(item,index) in priceFilter">
                <a href="javascript:void(0)" @click="setPriceFilter(index)"
                   :class="{'cur':priceCheck === index}">{{item.startPrice}} - {{item.endPrice}} </a>
              </dd>
            </dl>
          </div>

          <!-- search result accessories list -->
          <div class="accessory-list-wrap">
            <div class="accessory-list col-4">
              <ul>
                <li v-for="(item,key) in goodsList">
                  <div class="pic">
                    <a href="#"><img v-lazy="'http://img.52hyl.top/'+item.productImg" alt=""></a>
                  </div>
                  <div class="main">
                    <div class="name">{{item.productName}}</div>
                    <div class="price">￥{{item.productPrice}}</div>
                    <div class="btn-area">
                      <a href="javascript:;" class="btn btn--m" @click="addCart(item.productId)">加入购物车</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="view-more-normal"
                 v-infinite-scroll="loadMore"
                 infinite-scroll-disabled="busy"
                 infinite-scroll-distance="20">
              <img src="./../assets/loading-spinning-bubbles.svg" v-show="loading">
            </div>
          </div>
        </div>
      </div>
    </div>

    <v-modal v-bind:mdShow="mdShow" v-on:close="closeModal">
      <p slot="message">
        请先登录，否则无法添加到购物车！
      </p>
      <div slot="btnGroup">
        <a href="javascript:;" class="btn btn--m" @click="mdShow=false">关闭</a>
      </div>
    </v-modal>

    <v-modal v-bind:mdShow="mdShowCart" v-on:close="closeModal">
      <p slot="message">
        <svg class="icon-status-ok">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-status-ok"></use>
        </svg>
        <span>加入购物车成功!</span>
      </p>
      <div slot="btnGroup">
        <a class="btn btn--m" href="javascript:;" @click="mdShowCart = false">继续购物</a>
        <router-link class="btn btn--m btn--red" href="javascript:;" to="/cart">查看购物车</router-link>
      </div>
    </v-modal>
    <div class="md-overlay" v-show="overLayFlag" @click.stop="closePop()"></div>
    <v-footer></v-footer>
  </div>
</template>

<script>
  import NavHeader from './../components/NavHeader'
  import NavFooter from './../components/NavFooter'
  import Bread from './../components/Bread'
  import Modal from './../components/Modal'
  import axios from 'axios'

  export default {
    name: "NavFooter",
    data() {
      return {
        goodsList: [],
        sortFlag: true,
        page: 1,
        pageSize: 8,
        busy: true,
        loading: false,
        mdShow: false,
        mdShowCart: false,
        priceFilter: [
          {
            startPrice: '0.00',
            endPrice: '100.00'
          },
          {
            startPrice: '100.00',
            endPrice: '500.00'
          },
          {
            startPrice: '500.00',
            endPrice: '1000.00'
          },
          {
            startPrice: '1000.00',
            endPrice: '5000.00'
          }
        ],
        priceCheck: 'all',
        filterBy: false,
        overLayFlag: false
      }
    },
    components: {
      'v-header': NavHeader,
      'v-footer': NavFooter,
      'v-bread': Bread,
      'v-modal': Modal
    },
    methods: {
      getGoodsData(flag) {
        let params = {
          page: this.page,
          pageSize: this.pageSize,
          priceSort: this.sortFlag ? 1 : -1,
          priceLevel: this.priceCheck
        };
        this.loading = true;
        axios.get('/api/goods/list', {params: params}).then((response) => {
          // console.log(param.priceSort);
          let res = response.data;
          this.loading = false;
          if (res.status === "0") {
            if (flag) {
              this.goodsList = this.goodsList.concat(res.result.list);
              // console.log(res.result.count);
              if (res.result.count === 0) {
                this.busy = true;
              } else {
                this.busy = false;
              }
            } else {
              this.goodsList = res.result.list;
              this.busy = false;
            }
          } else {
            this.goodsList = [];
          }
        })
      },
      loadMore() {
        this.busy = true;
        setTimeout(() => {
          this.page++;
          this.getGoodsData(true);
        }, 500);
      },
      sortGoods() {
        this.sortFlag = !this.sortFlag;
        this.page = 1;
        this.getGoodsData();
      },
      setPriceFilter(index) {
        this.priceCheck = index;
        this.page = 1;
        this.getGoodsData();
      },
      addCart(productId) {
        axios.post("/api/goods/addCart", {
          productId: productId
        }).then((response) => {
          let res = response.data;
          if(res.status==="0"){
            this.mdShowCart = true;
            this.$store.commit("updateCartCount",1);
          }else{
            this.mdShow = true;
          }
        })
      },
      showFilterPOP() {
        this.filterBy = true;
        this.overLayFlag = true;
      },
      closePop() {
        this.filterBy = false;
        this.overLayFlag = false;
        this.mdShowCart = false;
      },
      closeModal() {
        this.mdShow = false;
        this.mdShowCart = false;
      }
    },
    mounted() {
      this.getGoodsData();
    }
  }
</script>

<style scoped>

</style>
