<template>
  <section class="bread">
    <div class="container">
      <div class="bread-wrap">
        <nav class="">
          <a href="/">
            Home
          </a>
          <slot></slot>
        </nav>
      </div>
    </div>

  </section>
</template>
<style>
  .bread{
    height: 45px;
    line-height: 45px;
    background-color: #f0f0f0;
    text-align: left;
    margin-left: -20px;
  }
  .bread-wrap{
    padding: 0 10px;
    font-size: 14px;
    color: #a1a1a1;
  }
  .bread-wrap a{
    position: relative;
    margin-right: 20px;
  }
  .bread-wrap a:after{
    position: absolute;
    top: 0;
    content:'/';
    height:20px;
    line-height: 20px;
  }
  .bread-wrap span{
    color:#d1434a;
  }
</style>

<script>

  export default{
    data(){
      return{
        msg:'hello vue'
      }
    }
  }
</script>
