<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <script src="../node_modules/vuex/dist/vuex.min.js"></script>
</head>
<body>
<div id="app">
  <button type="button" @click="add">增加</button>
  <v-counter></v-counter>
</div>

<script>
  const counter = {
    template: `
      <div>
        <div>数量:{{count}}</div>
        <div>用户名:{{userName}}</div>
      </div>
    `,
    computed: {
      count() {
        return this.$store.state.count
      },
      name() {
        return this.$store.state.name;
      },
      userName(){
        return this.$store.getters.userName;
      }
    }
  };
  const store = new Vuex.Store({
    state: {
      count: 1,
      name: 'hyl'
    },
    getters:{  //类似计算属性,重新定义一个值,挂载在store下
      userName(state){
        return state.name +'hello'
      }
    },
    mutations: {
      increment(state, num) {
        state.count = num;
      },
      updateName(state) {
        state.name = "zfq";
      }
    },
    actions: {
      incrementActions(context, num) {
        context.commit('increment', num);
      }
    }
  });
  new Vue({
    el: "#app",
    data: {
      msg: "111"
    },
    store,
    components: {
      'v-counter': counter
    },
    methods: {
      add() {
        this.$store.dispatch('incrementActions',500);
      }
    }
  });
</script>
</body>
</html>
